body {
  margin: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  box-sizing: border-box;

  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  border: 2px solid #22f;
  border-radius: 10px;
  width: fit-content;
  min-width: 75px;
  background: white;
  color: #22f;

  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
  
  transition: 100ms;
  &:hover {
    background: #22f;
    color: white;
    transition: 200ms;
  }
}

label {
  font-size: larger;
}

input, textarea {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
